body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: Roboto;
}

main {
    background-color: #559e83;
    flex: 1 0 auto;
}


input::placeholder {
	color: white;
}

#SignInTitle {
	font-weight: 900;
}

#SignInButton {
	background-color: #ae5a41;
}

#SignInForm {
	border: 5px solid #ae5a41;
	border-radius: 7%;
	background-color: #5a5255;
}

#ForgetPasswordForm {
	border: 5px solid #ae5a41;
	border-radius: 7%;
	background-color: #5a5255;
	height: 250px;
}

#ResetPasswordTitle {
	font-weight: lighter;
}

.page-footer {
	background-color: #c3cb71;
}